In [1]:
from bs4 import BeautifulSoup
# Load the saved HTML
with open("imdb_full_page.html", encoding="utf-8") as f:
    soup = BeautifulSoup(f, "html.parser")

In [2]:
items = soup.find_all(class_ = 'dli-parent')

rows = []

for item in items:
    row = {}
    row['title'] = item.select_one('h3.ipc-title__text').text.split('. ', 1)[1].strip()
    row['year'] = item.select_one('span.sc-86fea7d1-8').text.strip() if item.select_one('span.sc-86fea7d1-8') else "No year"
    row['id'] = item.a['href'].split('/')[2]

    rows.append(row)

In [3]:
import pandas as pd

df = pd.json_normalize(rows)
df.head()

       title  year         id
0     Kanoon  1960  tt0053985
1   Bewaqoof  1960  tt0231254
2  Honeymoon  1960  tt0361712
3  Lal Quila  1960  tt0156723
4   Maa Baap  1960  tt0378280

In [4]:
df.to_excel("imdb_id.xlsx", index=False)